Options +FollowSymLinks -Multiviews
SetEnv DEVELOP "true"

ErrorDocument 404 ../cache/404.html

# Wordpress Redirects

RewriteEngine On
RewriteRule ^$ ../cache/index.html [L]
RewriteRule ^archiv\.html$ ../cache/archiv.html [L]
RewriteRule ^feed\.xml$ ../cache/feed.xml [L]
RewriteRule ^(\d{4})/(\d{2})/(\d{2})/(.+\.html)$ ../cache/posts/$1_$2_$3_$4 [L]
RewriteRule ^.*\.html$ ../cache/pages/$0 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L,QSA]